.container {
    background: rgb(54,70,82);
    background: linear-gradient(90deg, #5F2139 0%, #A23862 73%, #5F2139 100%);
    width: 100%;
    overflow: hidden;
    padding: 30px 50px;
    box-sizing: border-box;
}
.container img {
    width: 130px;
}
.lista_redes {
    display: flex;
    margin: 10px 0 0 0 ;
    padding: 5px;
    gap: 15px;
    list-style: none;
}