.tituloEventoSelecionado {
    color: #C54477;
    font-size: 32px;
    text-align: center;
    font-weight: 600;
    margin: 0;

    margin-bottom: 10px;
}
.dataEventoSelecionado {
    text-align: center;
}
.container {
    width: 100%;
    height: 100%;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #fff;
}
.btnSalvar {
    margin-top: 20px;
    text-align: center;
}
.form {
    height: 400px;
    overflow-x: hidden;
    overflow-y: scroll;
    padding-right: 5px;
    display: flex;
    gap: 10px;
}
.formInput {
    margin-top: 10px;
}
.inputValor {
    border-radius: 5px;
    color: #000;
    background-color: #F7F7F7;
    border: 1px solid #BEBEBE;
}