.containerStepEbutton {
    display: flex;
    /* height: 300px; */
    align-items: center;
    justify-content: space-between;
}
.form {
    width: 60%;
    margin: 10px auto;
    height: 250px;
    display: flex;
    flex-direction: column;
}

.tamanhoLabel {
    display: flex;
    align-items: end;
    height: 40px;
}
.descricao {
    margin: 5px 0;
    color: #fff;
    text-align: center;
}
.controleDasInputs {
    display: flex;
    margin-top: 30px;
    gap: 10px;
}
.erro_msg {
    color: #FFB6C1;
    text-align: center;
}
.btnModalDecoracao {
    padding: 8px 10px;
  border-radius: 16px;
  font-family: 'Montserrat', sans-serif;
  /* color: #454545; */
  background-color: #ffffff16;
  border:2px solid #40597a;
  color: #d9d9d9;
  font-size: 16px;
}
.containerStepEbuttonMob{
    display: none;
}
.buttonsMob {
    display: flex;
    justify-content: space-between;
}
@media screen and (max-width: 668px) {
    .containerStepEbuttonMob{
        display: block;
    }
    .containerStepEbutton {
        display: none;
    }
    .buttonsMob div {
        width: 45%;
    }
}
@media screen and (max-width: 868px) {
    .form {
        width: 100%;
    }
    .controleDasInputs {
        flex-direction: column;
    }
    .tamanhoLabel {
        margin-top: 10px;
        height: auto;
    }
    .controleDasInputs {
        display: flex;
        margin-top: 0;
        gap: 10px;
    }
    .container-input {
        width: 100%;

    }
    .form {
        height: auto;
    }
}
