body {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: #fff;
}
button {
  cursor: pointer;
  background-color: transparent;
  border: none;
}
.btn-default-bgRosa {
  background-color: #C54477;
  padding: 11.6px 20px;
  border-radius: 50px;
  font-weight: bold;
}
.btn-default-bgRosa:hover {
  background-color: #9b2c59;
  transition: 0.2s;

}
.btn-default-bgTransparent {
  background-color: transparent;
  padding: 10px 20px;
  border-radius: 50px;
  font-weight: bold;
  color: #FFB6C1;
  border: 2px solid #FFB6C1;
  transition: 0.2s;
}
.btn-default-bgTransparent:hover {
  background-color: #FFB6C1;
  color: #fff !important;
}
.swiper-button-next::after,
.swiper-button-prev::after {
  color: #ffffff; 
  font-size: 30px !important;
}

.swiper-pagination-bullet-active{
  background-color: #fff !important;
}
.arrow {
  border-radius: 12px;
}

.full-width {
  width: 100%;
  display: flex;
  text-align: center;
}
.titulo-principal {
    font-size: 40px;
    color: #FFB6C1;
    margin: 40px 0 10px;
}
.descricao {
  color: #fff;
}
.hoverRosa:hover {
  background-color: transparent;
}
.buttonAjuste {
  border-radius: 10px;
  padding: 10px 20px;
  font-size: 20px;
}

.container-input {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 50%;
  color: #fff;

}
.container-input input {
  padding: 8px 10px;
  border-radius: 16px;
  font-family: 'Montserrat', sans-serif;
  /* color: #454545; */
  background-color: #ffffff16;
  border:2px solid #40597a;
  color: #d9d9d9;
  font-size: 16px;

}
input[type="date"]::-webkit-calendar-picker-indicator {
  filter: invert(80%) sepia(0%) saturate(0%) hue-rotate(180deg) brightness(90%) contrast(90%);
  cursor: pointer;
}
input[type="time"]::-webkit-calendar-picker-indicator {
  filter: invert(80%) sepia(0%) saturate(0%) hue-rotate(180deg) brightness(90%) contrast(90%);
  cursor: pointer;
}
.container-input select {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  border:2px solid #40597a;
  color: #d9d9d9;
  background-color: #ffffff1f;
  padding: 8px 10px;
  border-radius: 16px;
  /* color: #454545; */
  /* border:none; */
}