body {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: #fff;
}
button {
  cursor: pointer;
  background-color: transparent;
  border: none;
}
.btn-default-bgRosa {
  background-color: #C54477;
  padding: 11.6px 20px;
  border-radius: 50px;
  font-weight: bold;
}
.btn-default-bgRosa:hover {
  background-color: #9b2c59;
  transition: 0.2s;

}
.btn-default-bgTransparent {
  background-color: transparent;
  padding: 10px 20px;
  border-radius: 50px;
  font-weight: bold;
  color: #FFB6C1;
  border: 2px solid #FFB6C1;
  transition: 0.2s;
}
.btn-default-bgTransparent:hover {
  background-color: #FFB6C1;
  color: #fff !important;
}
.swiper-button-next::after,
.swiper-button-prev::after {
  color: #ffffff; 
  font-size: 30px !important;
}

.swiper-pagination-bullet-active{
  background-color: #fff !important;
}
.arrow {
  border-radius: 12px;
}

.full-width {
  width: 100%;
  display: flex;
  text-align: center;
}
.titulo-principal {
    font-size: 40px;
    color: #FFB6C1;
    margin: 20px 0 10px;
}
.descricao {
  color: #fff;
}