.containerHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.containerReservas {
    width: 100%;
    display: flex;
    gap: 30px;
  }
  .visualizacaoReserva{
    height: 400px;
    width: 794px;
    background-color: #D9D9D933;
    border-radius: 20px;
    padding: 30px;
  }
  .semReservaSelecionada{
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    color: #AEAEAE;
  }
.listaDeReservas {
    width: 100%;
}
.listaDeReservas p {
    font-size: 14px;
}
.listaDeReservas ul {
    margin: 0;
    height: 450px;
    overflow-x: hidden;
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: #c6c6c6 transparent;
    padding:  0 5px ;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.listaDeReservas ul li {
    padding: 15px 10px;
    border-radius: 15px;
    /* gap: 30px; */
    justify-content: space-between;
    align-items: center;
    font-weight: 600;
    background-color: #D9D9D933;
    display: flex;
    
}
.thickIcon {
    font-size: 20px; 
    width: 50px;
    color: #000; 
  }
.listaDeReservas ul li p {
    margin: 0;
}
.cancelarEvento {
    color: red;
    border: 3px solid red;
    border-radius: 100%;
    stroke-width: 1;
}
.cancelado {
    border: 3px solid #c6c6c6;
    border-radius: 100%;
    stroke-width: 1;
    color: #c6c6c6;
}
.canceladoText {
    color: #c6c6c6;

}
.coloredIcon {
    filter: invert(88%) sepia(12%) saturate(0%) hue-rotate(180deg) brightness(96%) contrast(87%);
}
.acaoReserva {
    gap: 20px;
    display: flex;
    align-items: center;
}